@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

:root {
  --diameter: 90vmin;
  --innerDiameter: calc(var(--diameter) - 8vmin);
  /*---Divisor determines the height/width of the arrow---*/
  --divisor: 15;
  /*---Calculate arrow dimensions this way to keep everything responsive---*/

  /*===========================================CHECK ALL BELOW(think it might be nonsense!!!!)=======================*/
  --arrowDimensions: calc(var(--diameter) / var(--divisor));
  /*---Value for transform-origin on Y axis---*/
  --originY: calc(var(--arrowDimensions) * var(--divisor) / 2);
  /*===================================================================================================================*/

  --fontFamily: 'Roboto Condensed', sans-serif;
  --fontWeight: 100;
  --largeFont: calc(var(--diameter) / 6);
  --mediumFont: calc(var(--diameter) / 11);
  --smallFont: calc(var(--diameter) / 20);

  --textColor: #fff;
  --altTextColor: #f00;
  --discColor: #0390b8d9;
  --altDiscColor: tomato;
  --windColor: 1, 83, 106;

  /*---Grid always seems to cause scrolling????---*/
  overflow: hidden;
}

/*---Loading screen-----------*/
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #2a2a2a;*/
}

.loading h1 {
  font-family: var(--fontFamily);
  font-weight: 100;
  /*color: #222;*/
  color: #bdc9e9;
  animation: loading 2100ms infinite;
  letter-spacing: 10px;
  font-size: 10vmin;
}

/*---I need to learn sass!-----------------------*/
.loading h1:nth-of-type(1) {
  animation-delay: 200ms;
}
.loading h1:nth-of-type(2) {
  animation-delay: 400ms;
}
.loading h1:nth-of-type(3) {
  animation-delay: 600ms;
}
.loading h1:nth-of-type(4) {
  animation-delay: 800ms;
}
.loading h1:nth-of-type(5) {
  animation-delay: 1000ms;
}
.loading h1:nth-of-type(6) {
  animation-delay: 1200ms;
}
.loading h1:nth-of-type(7) {
  animation-delay: 1400ms;
}
.loading h1:nth-of-type(8) {
  animation-delay: 1600ms;
}
.loading h1:nth-of-type(9) {
  animation-delay: 1800ms;
}
.loading h1:nth-of-type(10) {
  animation-delay: 2000ms;
}

@keyframes loading {
  0% { color: #bdc9e9; }
  50% { color: var(--discColor); }
  100% { color: #bdc9e9; }
}

/*---------End of loading screen----------------*/


.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  /*grid-template-rows: auto 1fr auto;*/
  /*---Had to change this as something wasnt working in chrome---*/
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--discColor);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
}

.bg-image {
  height: 100vh;
  width: 100vw;
  background: url('assets/feather.jpeg');
  position: absolute;
  background-size: cover;
  filter: brightness(95%);
}

.city {
  font-weight: var(--fontWeight);
  font-size: var(--mediumFont);
  z-index: 9;
}

.weather-container {
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;
  align-self: center;
  display: grid;
  justify-content: center;
  align-items: center;

  background: var(--discColor);
  /*border: 1px solid var(--textColor);*/
  overflow: hidden;
  color: var(--textColor);

  opacity: 0;
  animation: fadeIn 500ms forwards;
  animation-delay: 300ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;

  /*---Transition for changing theme---*/
  transition: background 500ms;
}

.points {
  position: absolute;
  font-size: 3vmin;
  color: var(--textColor);
}

.north {
  justify-self: center;
  align-self: flex-start;
  top: 0.5vmin;
}

.east {
  justify-self: flex-end;
  align-self: center;
  right: 1.2vmin;
}

.south {
  justify-self: center;
  align-self: flex-end;
  bottom: 0;
}

.west {
  left: 0.8vmin;
}

.angled-lines {
  position: absolute;
  background: var(--textColor);
  width: calc((var(--diameter) - var(--innerDiameter)) / 2);
  height: 1px;
  --origin-left: calc(-1 * var(--innerDiameter) / 2);
  /*--origin-right: calc( var(--innerDiameter) / 2);*/
}

.angled-lines:nth-of-type(1) {
  right: 0;
  transform-origin: var(--origin-left) 0;
  transform: rotate(-45deg);
}

.angled-lines:nth-of-type(2) {
  right: 0;
  transform-origin: var(--origin-left) 0;
  transform: rotate(45deg);
}

.angled-lines:nth-of-type(3) {
  right: 0;
  transform-origin: var(--origin-left) 0;
  transform: rotate(135deg);
}

.angled-lines:nth-of-type(4) {
  right: 0;
  transform-origin: var(--origin-left) 0;
  transform: rotate(225deg);
}

@keyframes fadeIn {
  0% { opacity: 0; top: 200px; }
  100% { opacity: 1; top: 0; }
}

.weather-inner {
  width: var(--innerDiameter);
  height: var(--innerDiameter);
  border: 1px solid var(--textColor);
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
}

/*---font-weight doesnt cascade seemingly???---*/
.weather-inner * {
  font-weight: var(--fontWeight);
}

.main-temp {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  font-size: var(--largeFont);
  cursor: pointer;
  padding: 1vmin;
  transition: 100ms;
  justify-self: center;
  /*border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);*/
  border-radius: 1vmin;
}
/*.main-temp:hover {
  box-shadow: 1vmin 1vmin 1vmin rgba(0,0,0,0.5);
}*/

.min {
  grid-column: 1 / 3;
  grid-row: 3;
  font-size: var(--smallFont);
  align-self: flex-start;
  padding-top: calc(var(--diameter) / 35);
}

hr {
  margin: 0 2vmin;
  height: 1px;
  border: none;
  background: var(--textColor);
}

.left-hr {
  grid-column: 1 / 3;
  grid-row: 3;
}

.sunrise {
  grid-column: 1 / 3;
  grid-row: 3;
  font-size: var(--smallFont);
  align-self: flex-end;
  padding-bottom: calc(var(--diameter) / 35);
  display: flex;
  justify-content: center;
}

.sunrise h3 {
  font-size: var(--smallFont);
  margin-right: 5px;
}

.max {
  grid-column: 4 / -1;
  grid-row: 3;
  font-size: var(--smallFont);
  align-self: flex-start;
  padding-top: calc(var(--diameter) / 35);
}

.right-hr {
  grid-column: 4 / -1;
  grid-row: 3;
}

.sunset {
  grid-column: 4 / -1;
  grid-row: 3;
  font-size: var(--smallFont);
  align-self: flex-end;
  padding-bottom: calc(var(--diameter) / 35);
  display: flex;
  justify-content: center;
}

.sunset h3 {
  font-size: var(--smallFont);
  margin-right: 5px;
}

/*.icon {
  grid-column: 3 / 4;
  grid-row: 3;
  justify-self: center;
  width: 20vmin;
}*/

.svg-icon {
  grid-column: 3 / 4;
  grid-row: 3;
  justify-self: center;
  width: calc(var(--diameter) / 4.5);
}
/*-----Rain animation----*/
.raindrop {
  animation: rain 2s infinite;
}
.raindrop:nth-child(2) {
  animation-delay: 0.5s;
}
.raindrop:nth-child(3) {
  animation-delay: 1s;
}
.raindrop:nth-child(4) {
  animation-delay: 1.5s;
}
@keyframes rain {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/*-----Snow animation----*/
.flake {
  position: relative;
  animation: snow 2s infinite ease-out;
}
.flake2 {
  animation-delay: 0.5s;
}
.flake3 { animation-delay: 1s; }
.flake4 { animation-delay: 1.5s; }

@keyframes snow {
  0% { top: 0; left: 0; opacity: 0; }
  20% { left: 3px; opacity: 1;}
  40% { left: -3px; }
  60% { left: 3px; }
  100% { top: 10px; left: 3px; opacity: 0; }
}

/*-----Fog animation----*/
.fogline {
  animation: fog 10s infinite;
}
.fog5 {
  animation-delay: 2s;
}
.fog4 {
  animation-delay: 1.5s;
}
.fog3 {
  animation-delay: 1s;
}
.fog2 {
  animation-delay: 0.5s;
}
.fog1 {
  animation-delay: 0s;
}
@keyframes fog {
  0% { stroke: #fff; }
  50% { stroke: #737474; }
  100% { stroke: #fff; }
}

/*---Clear day animation---*/
.sun {
  animation: spin 30s infinite linear;
  transform-origin: 50% 50%;
}
@keyframes spin {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}
.sunline {
  animation: sun 2s infinite;
  stroke-dasharray: 12px;
  stroke-dashoffset: 0px;
}
@keyframes sun {
  0% { stroke-dashoffset: 0px; }
  50% { stroke-dashoffset: 6px; }
  100% { stroke-dashoffset: 0px; }
}

/*---Cloudy animation---*/
.cloud {
  opacity: 0;
  animation: clouds 7s infinite;
}
.cloud2 {
  animation-delay: 0.5s;
}
.cloud3 {
  animation-delay: 1s;
}
.cloud4 {
  animation-delay: 1.5s;
}
@keyframes clouds {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/*---Wind1 animation---*/
.line {
  animation: wind1 2.5s infinite;
  position: relative;
}
.line2 {
  animation-delay: 0.5s;
}
.line5, .line6, .line7 {
  animation: wind1 2s infinite;
}
.line8, .line9, .line10 {
  animation: wind1 1.5s infinite;
}
/*@keyframes wind1 {
  0% { transform: translateX(0); }
  50% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}*/

/*---Wind2 animation---*/
.windmill {
  animation: rotate 2s infinite ;
  transform-origin: 50% 50%;
}
@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(720deg); }
}


.description {
  grid-column: 1 / -1;
  grid-row: 4;
  font-size: var(--mediumFont);
}

.wind-speed {
  grid-column: 1 / -1;
  grid-row: 5;
  font-size: calc(var(--diameter) / 13);
  color: rgb(var(--windColor));
  /*text-shadow: 1px 1px 0 #fff;*/
}

/*----the arrow(class name generated by styled-components)----------*/
.sc-bdVaJa {
  width: 0;
  height: 0;
  position: absolute;
  border-top: var(--arrowDimensions) solid rgba(var(--windColor), 0.8);
  border-left: var(--arrowDimensions) solid transparent;
  border-right: var(--arrowDimensions) solid transparent;
  top: 0;
  left: 50%;
  z-index: 99;
  transform: translateX(-50%);
  transform-origin: 50% var(--originY);

  /*---Different width in chrome(no use) ---*/
  /*filter:drop-shadow(2px 2px 0 #fff);*/
}

.date {
  font-size: var(--mediumFont);
  font-weight: var(--fontWeight);
  z-index: 9;
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff;
  /*align-self: flex-end;*/
}


@media (orientation: landscape) {
  :root {
    --diameter: 75vmin;
  }
}
